<!DOCTYPE html>
<html lang="en">
  <% include header %>
  
  <body>
    <% include variables %>

    <% include navbar %>
    
    <div class="main-row">
      <% include sidebar %>
      <div id="content-placeholder"></div>
    </div>

    <% include footer %>

    <script id="page-history-template" type="text/x-handlebars-template">
      <div class="col-xs-14 col-lg-10">
        <table class="table table-bordered table-responsive">
          <tr>
            <th>Version</th>
            <th>Date</th>
            <th>Editors</th>
            {{#if comparing}}
            <th style="width: 10em;">Compare With</th>
            {{else}}
            <th>Compare</th>
            {{/if}}
            <th>Restore</th>
          </tr>
          {{#each history}}
          <tr>
            <td>{{version}}</td>
            <td>{{prettyDate createTime}}</td>
            <td>{{editors}}</td>
            <td><input type="checkbox"></td>
            <td>
              {{#unless @first}}
              <a href="#"><span class="glyphicon glyphicon-repeat"></span></a>
              {{/unless}}
            </td>
          </tr>
          {{/each}}
        </table>
      </div>
    </script>

    <% include scripts %>
    <script type="text/javascript" src="/history.js">
    </script>
  </body>
</html>
