<div class="col-xs-12 col-sm-10">
  <table class="table table-bordered table-responsive">
    <tr>
      <th>Version</th>
      <th>Date</th>
      <th>Editors</th>
      <th>View Changes</th>
      <th>Restore</th>
    </tr>
    <tr ng-repeat="pageVersion in history">
      <td>{{pageVersion.version}}</td>
      <td>{{prettyDate(pageVersion.timestamp)}}</td>
      <td>{{pageVersion.editors}}</td>
      <td>
        <a ng-if="!$last" href="" ng-click="viewDiff(pageVersion.version)"><span class="glyphicon glyphicon-repeat"></span></a>
      </td>
      <td>
        <a ng-if="!$first" href="" ng-click="restorePageVersion(pageVersion.version)"><span class="glyphicon glyphicon-repeat"></span></a>
      </td>
    </tr>
  </table>
</div>
