<div ng-controller="PageMenuController">
  <div class="well col-xs-4 col-lg-2" ng-show="showMenu" id="PageMenuController">
    <div class="input-group input-group-sm" style="width:100%">
      <input type="text" class="form-control" ng-model="query">
      <span class="input-group-addon" style="padding: 0px 3px; background-color:white;" ng-show="query.length>0">
        <a href="" ng-click="createPage()"><span class="glyphicon glyphicon-pencil" style="font-size: 18px; color:black;"></span></a>
      </span>
    </div>
    <br />
    <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="1000" initial-selection=""></abn-tree>
  </div>
</div>
