.diff {
    border-color: #999;
    color: #333;
    text-align: left;
    font-family: 'Courier New',Courier,'Lucida Console',monospace;
    padding: 0px;
    border-style: solid;
    border-width: .1em;
    font-weight: normal;
}

.count {
    text-align: right;

    width: 50px;
    float: left;

    border-color: #999;
    color: #333;
    font-family: 'Courier New',Courier,'Lucida Console',monospace;
    padding: 0px;
    border-style: solid;
    border-width: .1em;
    font-weight: normal;
}

.count li {
    background: #eed;
    border-color: #bbc;
    color: #886;

    padding-left: .5em;
    white-space: pre;
    padding-top: .5em;
    border-style: none none solid;
    border-width: 0 0 .1em;
    display: block;
    line-height: 1.2;
    list-style-type: none;
    margin: 0;
    padding-bottom: 0;
    padding-right: .5em;
}

.diff li {
    padding-left: .5em;
    white-space: pre;
    overflow:hidden;
    padding-top: .5em;
    border-style: none none solid;
    border-width: 0 0 .1em;
    display: block;
    line-height: 1.2;
    list-style-type: none;
    margin: 0;
    padding-bottom: 0;
    padding-right: .5em;
}

.diff .add {
    background-color: #bfb;
    border-color: #aea;
}

.diff .equal {
    background-color: #fff;
    border-color: #eee;
}

.diff .difference {
    background-color: #fea;
    border-color: #dd8;
}

.diff .remove {
    background-color: #ddd;
    border-color: #ccc;
}
