<script id="recent-changes-partial-template" type="text/x-handlebars-template">
  <div>
  <ul>
  {{#each recentChanges}}
  <li>
  <span>
  <a href="{{id}}">{{title}}</a> updated by
  {{#each editors}}
  <a href="{{id}}">{{name}}</a>{{#unless @last}},{{/unless}}
  {{/each}}
  (<a href="">view change</a>) {{time}}</span>
  </li>
  {{#unless @last}}
  <hr />
  {{/unless}}
  {{/each}}
  </ul>
  </div>
</script>

<script id="home-page-template" type="text/x-handlebars-template">
  <div id="home-page-content" class="col-xs-14 col-lg-10">
  <div class="well well-lg">
  <div>Recent Changes</div>
  {{#with changes}}
  {{> recentChangesPartial}}
  {{/with}}
  </div>
    </div>
</script>
