<div
   id="navbar-placeholder"
   class="navbar navbar-default navbar-fixed-top"
   role="navigation"
   ng-controller="NavbarController">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{projectName}}</a>
  </div>
  <div class="collapse navbar-collapse navbar-right">
    <ul class="nav navbar-nav">
      <li><a href="/profile/{{username}}">{{username}}</a></li>
      <li style="padding-right:50px"><a href="/logout">Log Out</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse">
    <div ng-show="page.name">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Export <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Text</a></li>
            <li><a href="#">PDF</a></li>
            <li><a href="#">HTML</a></li>
          </ul>
        </li>
        <li><a ng-href="/history/{{page.name}}">History</a></li>
        <li ng-show="editMode"><a href="" ng-click="toggleEditMode()">Finish Editing</a></li>
        <li ng-show="!editMode"><a href="" ng-click="toggleEditMode()">Edit</a></li>
        <li ng-show="editMode" ng-class="settingsActive?'active':''"><a href="" ng-click="toggleSettings()">Settings</a></li>
      </ul>
    </div>
  </div>
</div>
