<!DOCTYPE html>
<html lang="en">
  <% include header %>
  
  <body>
    <% include variables %>

    <% include navbar %>
    
    <div class="main-row">
      <% include sidebar %>
      <div id="content-placeholder"></div>
    </div>

    <% include footer %>

    <script id="search-template" type="text/x-handlebars-template">
      <div class="col-xs-14 col-lg-10">
        <h2>Search Results for '{{query}}'</h2>
        <ul>
          {{#each searchResults}}
          <li>
            <h4><a href="{{id}}">{{title}}</a></h4>
            {{{text}}}
          </li>
          {{#unless @last}}
          <hr />
          {{/unless}}
          {{/each}}
        </ul>
        {{#ifGreaterThan searchResults.length 15}}
        <ul class="pagination">
          {{#ifEqual activePage 1}}
          <li class="disabled"><a href="#">&laquo;</a></li>
          {{else}}
          <li><a href="#">&laquo;</a></li>
          {{/ifEqual}}
          {{#eachPage searchResults activePage}}
          {{#if activePage}}
          <li class="active"><a href="#">{{page}}</a></li>
          {{else}}
          <li><a href="#">{{page}}</a></li>
          {{/if}}
          {{/eachPage}}
          {{#ifGreaterThan numPages activePage}}
          <li><a href="#">&raquo;</a></li>
          {{else}}
          <li class="disabled"><a href="#">&raquo;</a></li>
          {{/ifGreaterThan}}
        </ul>
        {{/ifGreaterThan}}
      </div>
    </script>

    <% include scripts %>
  </body>
</html>
