build
typings
bundle.js
bundle.js.map
.DS_Store

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc

pids
logs
results
outputlog*
usermedia/*

npm-debug.log
node_modules
bower_components
config.txt
