<!-- This z-index is over nine thoussaaannndddddd -->
<div
   class="alert-container"
   ng-controller="AlertController"
   style="z-index: 9001;">
  <div class="row" ng-repeat="alert in alerts">
    <div
       ng-class="['alert','alert-'+alert.level,'col-xs-12 col-sm-8 col-sm-offset-2']"
       style="text-align: center;"
       role="alert">
      <span ng-bind-html="alert.message"></span>
    </div>
  </div>
</div>
