<head>
  <title>TidalWave</title>

  <link href="/all.css" rel="stylesheet">

  <% include scripts %>

  <!-- Adjust scale for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
