<title>TidalWave</title>

<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
<link href="/css/bootstrap-paper.css" rel="stylesheet">
<link href="/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">

<link href="/bower_components/selectize/dist/css/selectize.bootstrap3.css" rel="stylesheet">
<link href="/bower_components/hopscotch/dist/css/hopscotch.css" rel="stylesheet">
<link href="/bower_components/highlightjs/styles/default.css" rel="stylesheet">
<link href="/bower_components/filedrop/filedrop.css" rel="stylesheet">
<link href="/bower_components/angular-ui-select/dist/select.css" rel="stylesheet">

<link href="/css/abn_tree.css" rel="stylesheet">
<link href="/css/diff.css" rel="stylesheet">
<link href="/css/footer.css" rel="stylesheet">
<link href="/css/innerIcons.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<link href="/css/userList.css" rel="stylesheet">
<link href="/css/stylesheet.css" rel="stylesheet">

<!-- Adjust scale for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="/bundle.js"></script>

<!-- Gremlins for debugging -->
<script type="text/javascript" src="/bower_components/gremlins.js/gremlins.min.js">
</script>
