<!DOCTYPE html>
<html ng-app="TidalWavePage">
  <head>
    <title>TidalWave Log In</title>

    <% include header %>
    
  </head>
  <body>
    <script type="text/javascript">
      // Server-side variables
      server = <%- JSON.stringify(server) %>
    </script>

    <% include navbar %>

    <div class="login" ng-controller="LoginController">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 col-sm-4"></div>
          <div class="col-xs-10 col-sm-4">
            <div class="form-wrap">
              <% if(auth=='ldap') { %>
              <h1>Log in with your OpenDirectory account</h1>
              <% } else if(auth=='plain') { %>
              <h1>Log in or <a href="/register" style="text-decoration: underline;">create a new account</a></h1>
              <% } %>
              <form role="form" action="/login?redirect=<%= redirectUrl %>" method="post" id="login-form" autocomplete="off">
                <div class="form-group">
                  <% if(auth=='ldap') { %>
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" placeholder="Enter your username...">
                  <% } else if(auth=='plain') { %>
                  <label for="username">Email</label>
                  <input type="text" name="username" class="form-control" placeholder="Enter your email...">
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="key">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group" style="text-align:center;">
                  <input type="checkbox" name="rememberme"/>
                  <span class="rememberme">Remember Me</span>
                </div>
                <div class="row">
                  <div class="col-xs-3"></div>
                  <div class="col-xs-6">
                    <input
                       type="submit"
                       name="login"
                       id="btn-login"
                       class="btn btn-custom btn-lg btn-block"
                       value="Log in">
                  </div>
                  <% if(auth=='plain') { %>
                    <div class="col-xs-3">
                      <a href="/forgotpassword" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-3"></div>
                  <div class="col-xs-6">
                    <input type="submit" name="register" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Create new account">
                  </div>
                  <div class="col-xs-3"></div>
                  <% } else { %>
                  <div class="col-xs-3"></div>
                <% } %>
                </div>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
