<div
   id="navbar-placeholder"
   class="navbar navbar-default navbar-fixed-top"
   role="navigation"
   ng-controller="NavbarController">

  <script type="text/ng-template" id="deletePageModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Are you sure you want to delete {{pagename}}?</h3>
    </div>
    <div class="modal-body">
      Click 'OK' to delete {{pagename}}.
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>


  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{projectName}}</a>
  </div>
  <div class="collapse navbar-collapse navbar-right">
    <ul class="nav navbar-nav">
      <li><a href="">{{username}}</a></li>
      <li style="padding-right:50px">
        <a href="/logout" ng-if="username">Log Out</a>
        <a href="/login" ng-if="!username">Log In</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse">
    <div ng-show="page.name">
      <ul class="nav navbar-nav">
        <li ng-class="history?'active':''" ng-show="username && !editMode">
          <a href="" ng-click="toggleHistory()">Page History</a>
        </li>
        <li id="watch-list-item" ng-class="isWatchingPage?'active':''" ng-show="username && !editMode">
          <a href="" ng-click="toggleWatch()">{{isWatchingPage?"Unwatch":"Watch"}}</a>
        </li>
        <li id="export-list-item" class="dropdown" ng-show="!editMode">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Export <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ng-click="savePDF()">PDF (Experimental)</a></li>
            <li><a ng-click="saveHTML()">HTML</a></li>
          </ul>
        </li>
        <li ng-show="editMode"><a href="" ng-click="toggleEditMode()">Finish Editing</a></li>
        <li id="edit-list-item" ng-show="!editMode && username"><a href="" ng-click="toggleEditMode()">Edit</a></li>
        <li ng-show="editMode" ng-class="settingsActive?'active':''">
          <a href="" ng-click="toggleSettings()">Settings</a>
        </li>
        <li ng-show="editMode"><a href="" ng-click="deletePage()" style="color:#a94442;">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
