<!DOCTYPE html>
<html lang="en" ng-app="TidalWavePage">
  <% include headerdebug %>
  
  <body ng-cloak>
    <script type="text/javascript">
      // Server-side variables
      server = <%- JSON.stringify(server) %>
    </script>

    <% include navbar %>
    
    <div class="main-row col-xs-12">
      <% include sidebar %>
      
      <div ng-controller="PageContentController">
        
        <div ng-show="pageMode=='diff'">
          <% include page-diff %>
        </div>

        <div ng-show="pageMode=='history'">
          <% include page-history %>
        </div>

        <div ng-show="pageMode=='searchResults'">
          <% include search-results %>
        </div>

        <div ng-show="pageMode=='recentChanges'">
          <% include recent-changes %>
        </div>

        <div ng-show="pageMode=='content'">
          <% include page-contents %>
        </div>
      </div>
    </div>

    <% include footer %>
  </body>
</html>
