<!DOCTYPE html>
<html ng-app="TidalWavePage">
  <head>
    <title>TidalWave Registration</title>

    <% include header %>
    <link href="/css/login.css" rel="stylesheet">
    
  </head>
  <body>
    <script type="text/javascript">
      // Server-side variables
      server = <%- JSON.stringify(server) %>
    </script>

    <% include navbar %>

    <div class="login" ng-controller="RegisterController">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 col-sm-4"></div>
          <div class="col-xs-10 col-sm-4">
            <div class="form-wrap">
              <h1>Create a new account</h1>
              <form name="form" class="css-form" novalidate autocomplete="off">

                <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                <input style="display:none" type="text" name="fakeusernameremembered"/>
                <input style="display:none" type="password" name="fakepasswordremembered"/>

                <div ng-class="getEmailFormClass('email')" id="email-group">
                  <label for="email" class="control-label">Email</label>
                  <input
                     type="email"
                     name="email"
                     ng-model="user.email"
                     ng-model-options="{ debounce: 500 }"
                     required
                     class="form-control"
                     placeholder="Enter your email..."
                     validateemail
                     registeremail>
                  <span class="control-label" ng-if="form.email.$error.validateemail || form.email.$error.email">The email address entered is invalid.</span>
                  <span
                     class="control-label"
                     ng-if="form.email.$pending.registeremail">Checking if this email is available...</span>
                  <span
                     class="control-label"
                     ng-if="form.email.$error.registeremail">This email address already exists.  Did you <a ng-href="/forgotpassword?email={{form.email.$viewValue}}">forget your password?</a></span>
                </div>
                <div ng-class="getFormClass('fullName')">
                  <label for="fullName" class="control-label">Full Name</label>
                  <input type="text" name="fullName" ng-model="user.fullName" ng-model-options="{ debounce: 500 }" required ng-minlength=5 ng-maxlength=40 class="form-control" placeholder="Enter your full name...">
                  <span class="control-label" ng-show="form.fullName.$error.minlength || form.fullName.$error.maxlength">Your name must be between 5 and 40 characters</span>
                </div>
                <div ng-class="getFormClass('password')">
                  <label for="key" class="control-label">Password</label>
                  <input type="password" name="password" ng-model="user.password" ng-model-options="{ debounce: 500 }" required ng-minlength=5 ng-maxlength=40 class="form-control" placeholder="Enter a Password...">
                  <span class="control-label" ng-show="form.password.$error.minlength || form.password.$error.maxlength">Your password must be between 5 and 40 characters</span>
                </div>
                <div class="col-xs-3"></div>
                <div class="col-xs-6">
                  <button
                     ng-disabled="form.$invalid || form.email.$pending.registeremail"
                     name="register"
                     id="btn-register"
                     class="btn btn-custom btn-lg btn-block"
                     ng-style="(form.$invalid || form.email.$pending.registeremail)?{}:{'background-color': '#3c763d'}"
                     ng-click="register()">Register</button>
                </div>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <% include footer %>
  </body>
</html>
