.query-button-active {
    padding: 0px 3px !important;
    background-color:white !important;
}

.query-button-inactive {
    padding: 0px 3px !important;
    background-color:white !important;
    opacity: 0.5 !important;
}

